body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}
.vid-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bgvid {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.inner-container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    overflow: hidden;
}

.bgvid.inner {
    top: calc(-50vh + 200px);
    left: calc(-50vw + 200px);
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}

.box {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: Helvetica;
    color: #fff;
    backdrop-filter: blur(15px);
    background: rgba(245, 243, 243, 0.13);
    border-radius: 20px;
}

.box h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}

.box input {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 0;
}



.box input:focus,
.box input:active,
.box button:focus,
.box button:active {
    outline: none;
}

.box button {
    background:
        linear-gradient(to right,
            #00fffc, #cb7d10);
    border: 0;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.box button:active {
    background: linear-gradient(to right, #cb7d10, #00fffc);
}

.box p {
    font-size: 14px;
    text-align: center;
}

.box p span {
    cursor: pointer;
    color: #666;
}
.notification {
    background-color: #ffcc00;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
}

.dropdown-menu {
    display: none; /* Ensure dropdown menu is hidden by default */
}

.custom-marker {
    background-color: transparent;
    border: none;
}

.marker-pin {
    width: 30px;
    height: 30px;
    background-color: #5a67d8;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    cursor: pointer;
    border: 2px solid #ffffff;
}

.marker-pin::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #5a67d8;
    left: 8px;
    top: 8px;
    border-radius: 50%;
}
        .map-container {
            width: 100%;
            position: relative;
            height: 100%; /* Adjust this height as needed */
        }
        .container {
            flex-grow: 1; /* Menyesuaikan tinggi konten agar penuh */
        }
        